html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: pink;
  font-family: Copperplate;
}

img {
  position: absolute;
  bottom: 0;
  right: 5%;
  max-width: 40vw;
  height: auto;
}
 
a[href="assignemnts.html"] svg path {
  fill: #ED719E;
}
